@import "../../../../assets/variables";

.Track {
  display: flex;
  .Overlay {
    position: relative;
    overflow: hidden;
    width: 0px;
    -webkit-transition: 0.4s;
    -ms-transition: 0.4s;
    transition: 0.4s;
    .PlayButton {
      position: relative;
      left: 110%;
      top: 3px;
      width: 0px;
      height: 39px;
      -webkit-transform: translate(-100%, 0%);
      -ms-transform: translate(-100%, 0%);
      transform: translate(-100%, 0%);
      background: transparent;
      box-sizing: border-box;
      cursor: pointer;
      border: 0;
      border-color: transparent transparent transparent var(--infoFontColor);
      border-style: solid;
      border-width: 20px 0 20px 30px;

      &.Paused {
        border-style: double;
        border-width: 0px 0 0px 30px;
      }
    }
    &.Paused {
      width: 40px;
    }
  }

  .Description {
    width: min-content;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    color: var(--infoFontColor);
    height: 60px;
    margin-right: 10px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;

    .Text {
      display: grid;
      grid-auto-flow: column;
      --gap-width: 62px;
      gap: var(--gap-width);
      height: 50px;
      position: absolute;
      text-indent: 3px;
      span {
        p,
        h3 {
          margin: 0;
        }
        p {
          top: 25px;
        }
      }
    }
  }

  .Playable {
    cursor: pointer;
  }

  .Action {
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
    transition: color 0.25s;
    background-color: var(--mainBg1);
    width: 37px;
    height: 50px;
    border: 1px solid var(--infoFontColor);
    border-radius: 5px;
    -webkit-transition: color 0.4s ease-out, border-color 0.4s ease-out;
    -moz-transition: color 0.4s ease-out, border-color 0.4s ease-out;
    -o-transition: color 0.4s ease-out, border-color 0.4s ease-out;
    transition: color 0.4s ease-out, border-color 0.4s ease-out;
    &.Add:hover {
      color: $green;
      border-color: $green;
    }

    &.Remove:hover {
      color: $red;
      border-color: $red;
    }
  }
}

.Track:hover .Overlay {
  width: 40px;
}

.Marquee {
  &:hover .Text {
    --animation-time: 5.5s;
    animation: marquee var(--animation-time) linear 0.3s infinite;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-52.5%);
  }
}
