.SearchBar {
  text-align: center;
  text-align: -webkit-center;
  margin-bottom: 40px;

  .Slider {
    position: relative;
    height: 20px;
    width: 80%;
    max-width: 600px;
    margin: 20px 10px;
  }
}