@import '../../../assets/variables';

.Button {
  cursor: pointer;
  width: 160px;
  padding: 12px 0;
  border-radius: 54px;
  text-align: center;
  font-size: inherit;
  transition: background-color .25s;
  border: 0px;
  color: $white;
}

.TableButton {
  width: 80px;
}

.DeleteAll {
  border-radius: 30px;
  width: 80px;
  font-size: 15px;
}

.Back {
  margin-bottom: 20px;
}

.Blue {
  background-color: $blue;
}

.Purple {
  background-color: $purple;
}

.Red {
  background-color: $red;
}

.Green {
  background-color: $green;
}

.Cancel {
  background-color: unset;
  border: 1px solid var(--fontColor);
  transition: border-color .25s;
}

:disabled {
  color: $disabled;
  cursor: not-allowed;
}

.Button:not(:disabled) {
  animation: enable 0.3s linear;
}

@keyframes enable {
  0% {
    transform: scale(1);
  }

  60% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}