.PlaylistMaker {
  height: 100%;
  padding: 0 5% 5% 5%;

  .Playlist {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .PlayerWrapper {
      position: fixed;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 0);
      margin: 0 auto;

      .Player {
        height: 55px !important; 
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .PlaylistMaker {
    max-width: 1000px;
    margin: auto;
  }
}

@media only screen and (max-width: 800px) {
  .PlaylistMaker {
    max-width: 600px;
    margin: auto;

    .Playlist {
      align-items: center;
      flex-direction: column;
    }
  }
}