.Input {
  min-height: 70px;
  max-width: 400px;

  .InputElement {
    align-content: center;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    color: black;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    &:focus {
      background-color: #ccc;
    }
  }
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.Invalid {
  border: 1px solid red;
  background-color: #FDA49A;
}

.ValidationError {
  text-align: center;
  color: red;
  margin: 5px 0;
}