$goldCrayola: #E5C687;
$richBlackForeground: #0F1A20;
$white: #f8f8f8;
$black: #222;
$dark: #0F2027;
$gray: #868e96;
$blue: #007bff;
$navy-blue: rgba(1, 12, 63, 0.7);
$purple: #6f42c1;
$gray-dark: #343a40;
$green: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$red: #dc3545;
$light: #f8f9fa;
$light2: rgba(256, 256, 256, 0.8);
$disabled: #ccc;
$cream: #d2cca1;
$foreground1:#2c3e50;
$foreground2:#34495e;
$darkGradient1: -webkit-linear-gradient(to right, #34495e, #2c3e50, #0F2027);
$lightGradient1: -webkit-linear-gradient(to right, #E9E4F0, #aaa8a8);
/* Chrome 10-25, Safari 5.1-6 */
$darkGradient2: linear-gradient(to right, #34495e, #2c3e50, #0F2027);
$lightGradient2: linear-gradient(to right, #E9E4F0, #aaa8a8);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */