@import './assets/_variables';

.light-theme {
  --themeDropDownBg: #{$goldCrayola};
  --navBg: #{$cream};
  --hover: #{$gray};
  --mainBg1: #{$lightGradient1};
  --mainBg2: #{$lightGradient2};
  --mainBg3: #{$light};
  --fontColor: #{$black};
  --infoFontColor: #{$dark};
  --themeSwitchColor: #{$light};
  --playlist: #{$goldCrayola};
  --spinner: #{$lightGradient1};
  --listShadow: #{$shadowLight};
}

.dark-theme {
  --themeDropDownBg: #{$dark};
  --navBg: #{$gray-dark};
  --hover: #{$richBlackForeground};
  --mainBg1: #{$darkGradient1};
  --mainBg2: #{$darkGradient2};
  --mainBg3: #{$dark};
  --fontColor: #{$light2};
  --infoFontColor: #{$white};
  --themeSwitchColor: #{$dark};
  --playlist: #{$navy-blue};
  --spinner: #{$darkGradient1};
  --listShadow: #{$light-blue};
}

* {
  color: var(--fontColor);
  outline: none;
  -webkit-transition: var(--theme-transition);
  -moz-transition: var(--theme-transition);
  -o-transition: var(--theme-transition);
  transition: var(--theme-transition);
}

body,
html,
#root {
  height: 100%;
}

body {
  background-color: var(--mainBg1);
  background-color: var(--mainBg2);
  background-color: var(--mainBg3);
  margin: 0;
  border: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
