@import '../../../assets/variables';

.Playlist {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 950px;
  align-items: center;
  overflow-y: scroll;
  padding: 14px;
  margin: 0px 10px 0px 0px;
  background-color: var(--playlist);
  box-shadow: 0 4px 2px 2px $gray;
  .Save {
    margin: 20px 0 20px 0;
  }
}

@media only screen and (max-width: 800px) {
  .Playlist {
    height: unset;
    min-height: max-content;
    width: 90%;
    margin-bottom: 2rem;
    margin: 0px;
  }
}